.App {
  text-align: center;
  /* background: url("./images/rose-background-1.jpg"); */
  /* background-position: top; */
  /* background-size:100% 100%; */

  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.logo {
  height: 75px;
  border: solid white 10px;
  position: relative;
}

.navbar {
  width: 100%;
  display: inline-block;
  background-color: brown;
  height: 50px;
}

.profile {
  position: relative;
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  border: solid white 5px;
}

.profile-pic {
  display: block;
  width: 400px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  /* left: 0; */
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: brown;
}

.profile:hover .overlay {
  opacity: 0.75;
}

.about {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* may still need */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

.projects {
  height: 400px;
  padding: 10px;
  margin: 20px;
  /* border: solid white 5px; */
  align-content: center;
}

.medium-widget{
  height: auto;
  padding: 10px;
  margin: 20px;
  background-color: white;
}


th{
  height: 30px;
  width: auto;
  text-decoration: underline;
  color: white;
  font-size: 300%;
  padding: 20px;
}

td{
  margin: 30px;
  border: solid white 5px;
}

.pink {
  background-color: pink;
}

table{
  width: 50%;
  margin: 0 auto;

}

.tweets{
  height: 400px;
  padding: 10px;
  margin: 20px;

}
